*{
    margin: 0;
    background-color: #fff;
}
header{
    color: #337ab7;
    margin-left: 450px;
    margin-top: 10px;
}
header p{
    color: green;
    margin-left: 70px;
    margin-top: 25px;
    font-size: 25px;

}
.image-section{
    margin-left: 450px;
    margin-top:20px;
    
}
.image-section img{
    border-radius: 150px;
}
.image-section p{
    font-weight: bold;
    margin-left: 30px;
}
.main-section h4{
    margin-left: 400px;
    margin-top: 30px;
}
.main-div{
    margin: 50px;
    padding: 15px;
    line-height: 2em;
}